[class^="icon-"], [class*=" icon-"] {
	@include icomoon;
	
	&:before {
		position: relative;
		left: -1px;
	}
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	width: 0; height: 0;
	overflow: hidden;
}

.is-loading {
	&:after {
		@extend %loading;
	}
}

.no-scroll {
	overflow: hidden;
}

.safari {
	* {
		-webkit-backface-visibility: hidden;
		-webkit-transform-style: preserve-3d;
	}
}

.carousel-cell { min-height: none !important; }

/* IE */

@media screen and (max-width:400px) {
    @-ms-viewport{
        width:320px;
    }
}

.owl-carousel .owl-item img {
	width: inherit;
}

@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}


#vimelar-player {
	left: -50px; top: -48px;
	width: calc(100% + 100px);
	height: calc(100% + 100px);
}