/*
.o-form {
	max-width: 375px;
	
	input, textarea {
		border: 1px solid rgba(white, .2);
		padding: 10px 20px;
	}
	
	textarea {
		height: 160px;
	}
	
	&__row {
		@extend %clear;
		position: relative; z-index: 5;
		margin-bottom: 20px;
		
		&.has-error {
			z-index: 10;
		}
	}
	
	.o-btn {
		float: right;
	}
}
*/


