.icon-arrow_down:before {
  content: "\e900";
}
.icon-arrow_left:before {
  content: "\e901";
}
.icon-arrow_right:before {
  content: "\e902";
}
.icon-exit:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-fullscreen:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-pause:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e909";
}
.icon-vimeo:before {
  content: "\e90a";
}
.icon-volume:before {
  content: "\e90b";
}

