.o-list {
	line-height: 1.5;
	li {
		position: relative;
		margin-bottom: 20px;
		letter-spacing: normal;
	}
	
	&--awards {
		text-transform: uppercase;
		
		.date {
			color: white;
		}
	}
	
	@media screen and ( min-width: $tablet--landscape + 1 + px ) {
		&--awards {			
			.date {
				position: absolute;
				left: -52px;
			}
		}
	}
}