.c-logo {
	display: block;

	.c-top & {
		@extend %middle;
		left: $padding+px; 
		width: 180px;		
	}
	
	.c-overlay & {		
		@media screen and ( min-width: $tablet--landscape + 1 + px ) {
			position: relative;
			width: 180px;
			margin-bottom: 50px;
		}
		
		@media screen and ( max-width: $tablet--landscape + px ) {
			@extend %abs;
			left: $padding+px; 
			top: 40px;
			width: 140px;	
		}
	}
	
	@media screen and ( max-width: $tablet--landscape+px ) {
		.c-top &,
		.c-overlay & {	
			left: 20px;
		}
	}
	
	@media screen and ( max-width: 320px ) {
		.c-top & {
			width: 130px;
		}
	}
}
