.c-overlay {
	position: fixed;
	left: 0; top: 0; z-index: 100;
	width: 100%; height: 100%;
	background-color: rgba(black,.92);
	-webkit-overflow-scrolling: touch;
	
	&__container {
		width: 100%; height: 100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	&__exit {
		@extend %abs;
		@extend %anim;
		@extend %icon;
		right: 30px; top: 30px;
		line-height: 37px !important;
		color: white !important;
		
		&:hover {
			border-color: $c-gray;
		}
	}

	&__main {
		@extend %center-middle;
		width: $grid-base-width+px;
		padding: 0 90px;
		overflow: hidden;

		&:after {
			@extend %abs-after;
			left: 360px; top: 0;
			width: 1px; height: 100%;
			background-color: rgba(white, .1);
		}
	}

	&__sidebar {
		float: left;
		width: 270px;
		position: relative;
	}
	
	@media screen and ( min-width: $tablet--landscape + 1 +px ) and ( max-width: $grid-base-width+px ) {
		&__main {
			&:after {
				left: grid(360);
			}
		}
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {

		&__main {
			width: 100%;
		}
		
		&__sidebar {
			width: grid(270, $grid-base-width - 180);
		}
	}
	
	@media screen and ( min-width: $tablet--landscape + 1 + px ) {
		//transform: translateY(200px);
	
		&__content {
			float: left;
			min-height: 500px;
		}
	}
	
	@media screen and ( min-width: $tablet--landscape + 1 + px ) and ( max-width: $grid-base-width+px ) {
		&__content {
			width: grid(916, $grid-base-width - 180);
		}
		
		&__main {
			padding: 0 grid(90);
		}
	}
	
	@media screen and ( max-width: $tablet--landscape+px ) {
		padding-bottom: 20px;
	
		&__exit {
			right: 20px;
		}

		&__main {
			position: relative;
			left: auto; top: auto;
			transform: none;
			padding: 100px 20px 0 20px;
			
			&:after {
				display: none;
			}
		}
		
		&__sidebar {
			display: none;
		}
	}
}
