.c-player {
	height: calc(100% - 200px);
	background-color: black;
	position: relative; z-index: 5;
	
	#vid {
		position: relative;
	}
	
	@media screen and ( max-width: $smartphone--landscape + px ) {
		display: none;
	}
}

