.c-player {
	height: calc(100% - 200px);
	background-color: black;
	position: relative; z-index: 5;
	
	#vid {
		position: relative;
	}
	
	&__touch {
		position: absolute; left: 0; top: 0; z-index: 5;
		width: 100%; height: 100%;
		cursor: pointer;
		
		i {
			@extend %center-middle;
			@extend %icon;
			display: none;
			width: 60px; height: 60px;
			font-size: 60px;
			padding-left: 4px;
			line-height: 56px;
			
			&.is-visible {
				display: block;
			}
		}
		
		&.is-visible {
			//opacity: 1;
		}
	}

	@media screen and ( max-width: $smartphone--landscape + px ) {
		display: none;
	}
}

