.c-player {
	height: calc(100% - 200px);
	background-color: black;
	position: relative; z-index: 5;
	
	&:after {
		@extend %loading;
		display: none;
	}
	
	&.is-loading {
		&:after {
			display: block;
		}
	}
}

