.c-social {
	
	li {
		float: left;
		margin-right: -1px;
	}
	
	a {
		@extend %icon;
	}
	
	.c-badges & {
		@extend %middle;
		right: $padding+px;
	}
	
	.c-footer & {
		@extend %clear;
		margin-bottom: 30px;
	}
	
	@media screen and ( max-width: $tablet--landscape + px ) {
		.c-badges & {
			right: 20px;
		}
	}
}