.c-thumb {
	position: relative;
	cursor: pointer;

	p {
		margin-bottom: 5px;
	}
	
	&__categories {
		//text-transform: uppercase;
		//color: #888;
	}
	
	&__category {
		&:hover {
			color: white;
		}
	}
	
	&__photo {
		&:hover {
			opacity: .9;
		}
	}
	
	&__title {
		display: block;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	
	.o-media {
		@extend %anim;
		margin-bottom: 10px;
	}
	
/*
	&.hide {
		opacity: 0;
	}
*/
	
	@media screen and ( max-width: $smartphone--landscape+px ) {
		&__info {
			display: none;
		}
		
		&:after {
			@extend %abs-after;
			@include icomoon;
			opacity: .3;
			right: 20px;
			bottom: 30px;
			width: 40px;
			height: 40px;
			background-color: black;
			border: 1px solid white;
			text-align: center;
			line-height: 40px;
			font-size: em(40);
			
			content: "\e909";
		}
	}
}
