$thumbs__width:	1266;

.c-thumbs {
	@extend %clear;
	position: relative;
	max-width: $thumbs__width+px;
	margin: 0 auto;
	min-height: 400px;
	
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	
	@media screen and ( min-width: $smartphone--landscape + 1 + px ) {
		&__item {
			width: grid(422, $thumbs__width);
			margin-bottom: 30px;
			padding-left: grid(15, $thumbs__width);
			padding-right: grid(15, $thumbs__width);
		}
	}
	
	@media screen and ( max-width: $tablet--portrait+px ) {
		max-width: 768px;
		padding: 0 10px 0 10px;

		&__item {
			width: grid(374, 768 - 20);
		}
	}
	
	@media screen and ( max-width: $smartphone--landscape+px ) {
		padding: 0;

		&__item {
			width: 100%;
		}
	}
}
