// Fonts
$proximanova:		'proximanova';
$icomoon:			'icomoon';




// Font weights
$regular:			400;
$light:				300;
$medium:			600;
$bold:				700;

$medium:			500;


// Default
$text:				$proximanova;
$base-font-size:	14;
$grid-base-width:	1366;
$padding:			30;


$tablet--landscape:		1024;
$tablet--portrait:		768;
$smartphone--landscape:	480;